body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #0D0208;
}

.paint {
    background-color: #003B00;
    color: #00FF41;
    border: none;
    font-size: 1.4rem;
    padding: 0.5rem;
    flex: 1;
}

.paint:hover {
    text-decoration: underline;
}

header {
    color: #008F11;
    text-align: center;
    padding: 0.7rem;
    margin-bottom: 2rem;
}

#buttons {
    background-color: #003B00;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 60vh;
    border-left: none;
    border-top: 0.5rem groove #00FF41;
    border-right: 0.5rem groove #00FF41;
    border-bottom: 0.5rem groove #00FF41;
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    flex-grow: 1;
}

h1 {
    margin: 0;
    font-size: 3rem;
}

#paper {
    background-color: white;
    height: 60vh;
    flex-grow: 5;
    margin: 0 1rem;
}

#together {
    display: flex;
}