body {
    margin: 0px;
    font-family: Helvetica, sans-serif;
    background-color: #0D0208;
}

.paint {
    background-color: #003B00;
    color: #00FF41;
    border: none;
}

header {
    color: #008F11;
    text-align: center;
    font-size: 36px;
    padding: 10px;
    font-weight: 800;
}

.buttons {
    background-color: #003B00;
    width: fit-content;
}
