body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #FFF5E4;
}

.paint {
    background-color: #FFC4C4;
    color: #EE6983;
    border: none;
    font-size: 1.4rem;
    margin: 0.5rem 0 0.5rem 0.5rem;
    flex: 1;
    font-weight: 800;
}

.paint:hover {
    text-decoration: underline;
}

header {
    color: #850E35;
    text-align: center;
    padding: 0.7rem;
    margin-bottom: 2rem;
}

#buttons {
    background-color: #FFC4C4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 60vh;
    border: none;
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    flex-grow: 1;
}

h1 {
    margin: 0;
    font-size: 3rem;
}

#paper {
    display: grid;
    background-color: white;
    min-height: 60vh;
    flex-grow: 5;
    margin: 0 1rem;
}

#together {
    display: flex;
}

.sections {
    border: 0.1px solid black;
}

.sections:hover {
    background-color: peachpuff;
}